{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}


	<div class="bg-red-500 p-4">
		<div class="container mx-auto flex justify-between items-center">
			<a href="#" class="text-white text-2xl font-semibold">MonSite</a>
			<ul class="flex space-x-4">
				<li>
					<a href="#" class="text-white hover:text-blue-300">Accueil</a>
				</li>
				<li>
					<a href="#" class="text-white hover:text-blue-300">À propos</a>
				</li>
				<li>
					<a href="#" class="text-white hover:text-blue-300">Services</a>
				</li>
				<li>
					<a href="#" class="text-white hover:text-blue-300">Contact</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
